html {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 5rem;
  margin: 2rem 1rem 1rem;
  color: #333;
}

/* BUTTONS */

button {
  padding: 0.5rem 0.5rem;
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  border-radius: 2px;
  background-color: rgb(241, 241, 241);
  border: 1px solid rgb(157, 157, 157);
  color: #333;
}

button:hover {
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.15);
}

#reset-btn {
  display: none;
  margin: 1rem auto;
  padding: .5rem 1rem;
}

#random-btn {
  width: 10rem;
  margin-top: 1rem;
}

#start-btn {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: .75rem 1rem;
  font-size: 1rem;
}

/* INSTRUCTIONS CONTAINER STYLES */

.instruction-container {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.instruction {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 20rem;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(241, 241, 241);
  font-style: italic;
}

/* GAME BOARD CONTAINER STYLES */

.game-container {
  display: flex;
  gap: 4rem;
  justify-content: center;
  margin-top: 1.5rem;
}

.player-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.computer-board-container {
  position: relative;
  width: 350px;
}

#computer-board-placeholder {
  opacity: 0.15;
}

.board-label {
  text-align: center;
  margin-top: 0.5rem;
}

table {
  width: 350px;
  height: 350px;
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
}

.board-cell {
  height: 30px;
  width: 30px;
  text-align: center;
}

#computer-board-placeholder .clickable:hover {
  background-color: rgb(215, 253, 215);
  cursor: crosshair;
}

.cell-ship {
  background-color: lightblue;
  border: blue;
}

.cell-miss {
  background-color: rgb(241, 241, 241);
}

.cell-miss-auto {
  background-color: rgb(241, 241, 241);
  color: rgb(180, 180, 180);
}

.cell-hit {
  background-color: rgb(255, 223, 223);
  border: 2px solid red;
}

/* DIALOG */

dialog {
  position: fixed;
  top: -200px;
  width: 200px;
  height: 100px;
  border-radius: 4px;
  border: 1px solid black;
  box-shadow: 0 4px 16px 0 rgb(0, 0, 0, 0.15);
  z-index: 3;
}

.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 1.5rem;
}

::backdrop {
  background-color: black;
  opacity: 0.25;
}
